
<div class="main-container">
  <section class="section-container home">
    <div class="img-home"><img class="img-notebook" src="assets/img/notebook.png"/></div>
    <div class="main-title">
      <h1>This is a fully redesign in progress.</h1>
      <h4>Wanna<span class="love">check</span>the<span class="me">progress</span>?</h4>
      <h1></h1><a class="main-button" href="https://trello.com/b/KdkP1DtZ" target="_blank">here</a>
      <div class="social">
        <div class="social-item linkedin"><a href="https://www.linkedin.com/in/khanos/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></div>
        <div class="social-item twitter"><a href="https://twitter.com/KhanosTech" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></div>
        <div class="social-item instagram"><a href="https://www.instagram.com/epilef.js" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></div>
        <div class="social-item hackerrank"><a href="https://www.hackerrank.com/KhanosVe" target="_blank"><i class="fa fa-code fa-2x" aria-hidden="true"></i></a></div>
        <div class="social-item github"><a href="https://github.com/Khanos" target="_blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a></div>
      </div>
    </div>
    <footer class="home-footer">
      <p>shared on<a href="https://github.com/Khanos/khanos.github.io" target="_blank">GitHub</a>& managed on<a href="https://trello.com/b/KdkP1DtZ" target="_blank">Trello</a></p>
    </footer>
  </section>
</div>