
<div class="main-container">
  <aside>
    <div class="img-brand"><img src="assets/img/main-brand.png"/></div>
    <div class="quote">
      <p>Tools of today will become obsolete, so don't learn the tools, learn the fundamentals.</p>
    </div>
    <ol>
      <li><a href="#">Home<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li><a href="#">What i do<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li><a href="#">Who am i<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li><a href="#"> How i do it<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
    </ol>
  </aside>
  <section class="section-container home">
    <div class="img-home"><img class="img-notebook" src="assets/img/notebook.png"/></div>
    <div class="main-title">Hi, it's is made width<a class="love" href=""> love</a><span> by</span><a class="me" href=""> me</a></div><a class="main-button" href="#">start</a>
    <footer class="home-footer"><a href="https://github.com/Khanos/khanos.github.io" target="_blank">& shared by GitHub</a></footer>
  </section>
</div>