
<div class="main-container">
  <aside ng-class="asideStyle">
    <div class="sidebar-toggle" ng-click="toggleAside()"><a href="#"> <img src="assets/img/menu-toggle.png"/></a></div>
    <div class="brand"><img src="assets/img/main-brand.png"/></div>
    <div class="quote">
      <h2>Tools of today will become obsolete, so don't learn the tools, learn the fundamentals.</h2>
    </div>
    <ol>
      <li ng-click="toggleAside()"><a href="/">Home<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li ng-click="toggleAside()"><a href="/what">What i do<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li><a href="#">Who am i<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li><a href="#"> How i do it<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
    </ol>
  </aside>
  <section class="section-container what">
    <div class="sidebar-toggle" ng-click="toggleAside()"><a href="#"> <img src="assets/img/menu-toggle.png"/></a></div>
    <div class="box"><img src="assets/img/what-1.jpg"/></div>
    <div class="box short"><img src="assets/img/what-2.jpg"/></div>
    <div class="box short"><img src="assets/img/what-3.jpg"/></div>
    <div class="box"><img src="assets/img/what-4.jpg"/></div>
    <div class="box"><img src="assets/img/what-5.jpg"/></div>
    <div class="box short"><img src="assets/img/what-6.jpg"/></div>
    <div class="box short"><img src="assets/img/what-7.jpg"/></div>
    <div class="box"><img src="assets/img/what-8.jpg"/></div>
    <div class="box"><img src="assets/img/what-9.jpg"/></div>
    <div class="box short"><img src="assets/img/what-10.jpg"/></div>
    <div class="box short"><img src="assets/img/what-11.jpg"/></div>
    <div class="box"><img src="assets/img/what-12.jpg"/></div>
  </section>
</div>