.container
    border: 5px dashed red
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 1024px
header, footer
    border: 5px dashed pink
    color: green
    width: 1024px
    .navbar
        height: 60px
        border: 5px dashed blue
        display: flex
        justify-content: space-around
        .nav
            margin: 5px
            width: 100px
            background-color: DeepSkyBlue
            color: white
            text-align: center
            line-height: 50px
            font-weight: 600
            list-style-type: none
.main
    height: 100vh
    img
        width: 900px
        height: auto
        -webkit-background-size: cover
        -moz-background-size: cover
        -o-background-size: cover
        background-size: cover

        -webkit-filter: blur(2px)
        -moz-filter: blur(2px)
        -ms-filter: blur(2px)
        filter: blur(2px)
    h1
        border: 5px dashed green
        font-weight: bold
        margin-bottom: 0px
    h3
        margin-top: 0px
        border: 5px dashed green
.content
    p
        border: 5px dashed magenta
        margin: 0px 60px
