body
    background-color: lightgrey
.container
    //border: 5px dashed red
    margin: 0 auto
    font-family: Lato, Calibri, Helvetica, Arial, sans-serif
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 1024px
    .navbar
        margin-top: 0px
        z-index: 1
        width: 100%
        background-color: rgba(20,20,20,0.6)
        //border: 5px dashed blue
        display: flex
        justify-content: space-around
        align-items: center
        .nav
            //border: 5px dashed black
            width: 100px
            a
                color: white
                text-decoration: none
            a:hover
                color: yellow
            text-align: center
            line-height: 50px
            font-weight: 600
            letter-spacing: 2px
            list-style-type: none
    header
        //border: 5px dashed pink
        margin-top: -50px
        width: 100%
        height: 100vh
        background-image: url(../../assets/img/workspace.png)
        background-color: rgba(0,0,0,0.5)
        background-size: cover
        margin-bottom: 50px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h1, h3
            //border: 5px dashed green
            font-weight: 300
            text-transform: uppercase
            letter-spacing: 3.8px
            background-color: rgba(20,20,20,0.9)
            color: yellow
            &.heading
                letter-spacing: 4.1px
                padding: 15px
            &.subHeading
                padding: 10px
            margin: 5px 10px
    .content
        p
            //border: 5px dashed magenta
            margin: 0px 60px
            line-height: 1.8
