// // This is a variable
// $test: grey;
//
// // This is nesting
// header {
//     color: $test;
//     padding-top: 4px;
//     padding-bottom: 5px;
//     ul {
//         list-style-type: none;
//         li {
//             display: inline;
//             a {
//                 padding: 20px 80px;
//             }
//         }
//     }
// }
// // This is mixins
// // This how you declare a mixin
// @mixin box-shadow($args) {
//     box-shadow: $args;
//     -webkit-webkit: $args;
//     -moz-webkit: $args;
//     -ms-webkit: $args;
//     -o-webkit: $args;
// }
// // this is how you use it
// header {
//     @include box-shadow(blue 4px 4px 12px);
// }
// html {
//     height: 100%;
// }
// body {
//     -webkit-font-smoothing: antialiased;
//     background-color: white;
// }
// h1 {
//     font-weight: 500;
//     font-family: sans-serif;
//     color: purple;
//     text-transform: uppercase;
// }
// h1:hover{
//     background-color: black;
// }
// a:link {
//     // This is how you use a variable
//     color: $test;
// }
// a:hover{
//     color: red;
//     background-color: black;
// }
// p{
//     text-align: justify;
//     width: 480px;
//     height: auto;;
//     background-color: grey;
//     padding: 60px;
//     border: 20px solid;
//     margin: 60px;
// }
// #site_content {
//     max-width: 1200px;
//     margin: 0 auto;
// }
// .centered {
//     text-align: center;
//     margin: 60px auto;
// }
body {
    border: 5px dashed red;
}
header {
    height: 100vh;
    margin-bottom: 50px;

    img {
        width: 900px;
        height: auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);

    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        border: 5px dashed green;
        font-weight: bold;
        color: white;
        margin-bottom: 0px;
    }
    h3 {
        margin-top: 0px;
        color: white;
        border: 5px dashed green;
    }
}
