.main-container
    include ../../shared/aside.pug
    section.section-container.home
        .img-home
            img.img-notebook(src="assets/img/notebook.png")
        .main-title Hi, this is made width
            span.love  love
            span  by
            span.me  me
