.main-container
    include ../../shared/aside.pug
    section.section-container.home
        .img-home
            img.img-notebook(src="assets/img/notebook.png")
        .main-title 
            p
                | Hi, i am a full stack web developer.
            p
                | and i
                a.love(href="")  love 
                | what i 
                a.me(href="")  do
            a.main-button(href="#") start
        footer.home-footer
            p
                | shared on 
                a(href="https://github.com/Khanos/khanos.github.io", target="_blank") GitHub   
                | & managed on 
                a(href="https://trello.com/b/KdkP1DtZ", target="_blank") Trello
