.main-container
    include ../../shared/aside.pug
    section.section-container.what
        .sidebar-toggle(ng-click="toggleAside()")
            a(href="#") 
                img(src="assets/img/menu-toggle.png")
        .box
            img(src="assets/img/what-1.jpg")
        .box.short
            img(src="assets/img/what-2.jpg")
        .box.short
            img(src="assets/img/what-3.jpg")
        .box
            img(src="assets/img/what-4.jpg")
        .box
            img(src="assets/img/what-5.jpg")
        .box.short
            img(src="assets/img/what-6.jpg")
        .box.short
            img(src="assets/img/what-7.jpg")
        .box
            img(src="assets/img/what-8.jpg")
        .box
            img(src="assets/img/what-9.jpg")
        .box.short
            img(src="assets/img/what-10.jpg")
        .box.short
            img(src="assets/img/what-11.jpg")
        .box
            img(src="assets/img/what-12.jpg")
