.main-container
    include ../../shared/aside.pug
    section.section-container.who
        .sidebar-toggle(ng-click="toggleAside()")
            a(href="#") 
                img(src="assets/img/menu-toggle.png")
        .profile-img
            img(src="assets/img/user-silhouette.png")
        .profile-description
            .title
                h1.first-row
                    span epilef
                h1.second-row
                    span rodriguez
            .text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcte velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut laisl proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .social
                .social-item
                    img.twitter(src="assets/img/menu-toggle.png")
                .social-item
                    img.twitter(src="assets/img/menu-toggle.png")
                .social-item
                    img.twitter(src="assets/img/menu-toggle.png")
                .social-item
                    img.twitter(src="assets/img/menu-toggle.png")
                .social-item
                    img.twitter(src="assets/img/menu-toggle.png")
