.main-container
    include ../../shared/aside.pug
    section.section-container.who
        .sidebar-toggle(ng-click="toggleAside()")
            a(href="#") 
                img(src="assets/img/menu-toggle.png")
        .profile-img
            img(src="assets/img/profile_pic.png")
        .profile-description
            .title
                h1.first-row
                    span epilef
                h1.second-row
                    span rodriguez
            .text
                p All human beings have characteristics that make us unique. But contrary to what most people thinks, these features do not come from a gift, but are the product of sustained effort, many mistakes, experience, principles and values. I do not know everything and i never will, but I have always shown interest in acquiring knowledge through experience and self learning.
                p I always tilt toward the challenges, so I decided to study mathematical sciences. There I learned a lot about solving problems and see things from another perspective. What gave me the advantage to enter the world of information technologies.
                p Programing has a lot to do with the math world, it comes to getting the most harmonious and elegant way to solve a problem. Everyone can program, but there is something very few can dominate and is the power of abstracting the problems to obtain a solution.
                p I am unique because I understand that success is not an accident but the result of a constant and conscious effort.
            .social
                .social-item.github
                    a(href="https://github.com/Khanos", target="_blank")
                        i.fa.fa-github-alt.fa-2x(aria-hidden='true')
                .social-item.linkedin
                    a(href="https://www.linkedin.com/in/khanos/", target="_blank")
                        i.fa.fa-linkedin.fa-2x(aria-hidden='true')
                .social-item.twitter
                    a(href="https://twitter.com/KhanosTech", target="_blank")
                        i.fa.fa-twitter.fa-2x(aria-hidden='true')
                .social-item.gplus
                    a(href="https://plus.google.com/u/0/+EpilefRodriguez", target="_blank")
                        i.fa.fa-google-plus.fa-2x(aria-hidden='true')
                .social-item.rss
                    a(href="http://www.khanos.com.ve/", target="_blank")
                        i.fa.fa-rss.fa-2x(aria-hidden='true')
