// Pop app Imports
script(type='text/javascript', src='core/app.js')
// Section - Home
script(type='text/javascript', src='core/views/pages/home.module.js')
script(type='text/javascript', src='core/views/pages/home.controller.js')
script(type='text/javascript', src='core/views/pages/home.routes.js')
// Section - What i do
script(type='text/javascript', src='core/views/pages/what.module.js')
script(type='text/javascript', src='core/views/pages/what.controller.js')
script(type='text/javascript', src='core/views/pages/what.routes.js')
// Section - Who am i
script(type='text/javascript', src='core/views/pages/who.module.js')
script(type='text/javascript', src='core/views/pages/who.controller.js')
script(type='text/javascript', src='core/views/pages/who.routes.js')
