// Pop app Imports
script(type='text/javascript', src='core/app.js')
// Section - Home
script(type='text/javascript', src='core/views/pages/home.module.js')
script(type='text/javascript', src='core/views/pages/home.controller.js')
script(type='text/javascript', src='core/views/pages/home.routes.js')