* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/Raleway-Regular.ttf"); }
@font-face {
  font-family: "Raleway-Thin";
  src: url("../../assets/fonts/Raleway-Thin.ttf"); }
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf"); }
@font-face {
  font-family: "Roboto-Thin";
  src: url("../../assets/fonts/Roboto-Thin.ttf"); }
:root {
  font-size: 16px; }

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem; }

h1, h2 {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.6rem; }

p {
  font-size: 1.2rem; }

html, body {
  height: 100%; }

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

section {
  background-color: #DCD8DC;
  width: 80%;
  height: 100%;
  align-self: stretch; }

.sidebar-toggle {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 5px;
  display: none; }
  .sidebar-toggle img {
    width: 40px; }

aside {
  background-color: #FDFFFC;
  width: 20%;
  height: 100%;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center; }
  aside .brand {
    padding: 20px; }
    aside .brand img {
      max-height: 145px;
      width: 100%; }
  aside img.img-arrow {
    width: 0.8vw;
    margin-left: 8px;
    position: relative;
    top: 5px; }
  aside .quote {
    padding: 0px 10px;
    width: 100%;
    flex-grow: 2;
    display: flex;
    align-items: center; }
    aside .quote h2 {
      font-weight: 500;
      text-align: center;
      letter-spacing: 2px;
      line-height: 1.6;
      color: #95989A;
      opacity: 0.8; }
    aside .quote h2::first-letter {
      font-size: 3.2rem;
      font-weight: bolder; }
  aside ol {
    width: 100%;
    text-align: right;
    list-style: none;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    aside ol li {
      padding: 2vh 20px; }
      aside ol li a {
        text-decoration: none;
        color: #4D4444;
        font-family: "Roboto-Thin", sans-serif;
        font-size: 1.8vw;
        font-weight: bold; }

.showAside {
  width: 70%;
  padding-top: 50px;
  transition: 0.5s;
  display: flex; }

.hideAside {
  width: 0;
  display: none; }

.section-container.home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .section-container.home .img-home {
    flex-grow: 1;
    max-height: 300px;
    display: inline-block;
    margin-bottom: 40px;
    overflow: hidden; }
    .section-container.home .img-home img {
      position: relative;
      top: -44px;
      width: 50vh; }
  .section-container.home .main-title {
    flex-grow: 1;
    font-weight: 100;
    color: #4D4444;
    text-align: center; }
    .section-container.home .main-title .love {
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      font-style: italic;
      text-decoration: none; }
    .section-container.home .main-title .me {
      color: #F800AE;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
      font-style: italic;
      text-decoration: none; }
    .section-container.home .main-title a.main-button {
      border: solid 2px #4D4444;
      padding: 8px 80px;
      display: inline-block;
      margin-top: 40px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-size: 4vh;
      font-weight: 400;
      color: #4D4444;
      -webkit-box-shadow: 0px 0px 0.2px 1px #F800AE;
      -moz-box-shadow: 0px 0px 0.2px 1px #F800AE;
      box-shadow: 0px 0px 0.2px 1px #F800AE;
      opacity: 0.6; }
    .section-container.home .main-title a.main-button:hover {
      -webkit-box-shadow: 0px 0px 2px 1px #F800AE;
      -moz-box-shadow: 0px 0px 2px 1px #F800AE;
      box-shadow: 0px 0px 2px 1px #F800AE;
      opacity: 1; }
  .section-container.home footer.home-footer {
    padding: 20px;
    width: 100%; }
    .section-container.home footer.home-footer p {
      font-family: "Raleway", sans-serif;
      font-weight: 100;
      color: #4D4444;
      text-align: right; }
      .section-container.home footer.home-footer p a {
        text-decoration: none;
        color: #4D4444;
        font-weight: 600; }

.section-container.what {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  overflow: scroll; }
  .section-container.what .box {
    margin: 5px;
    width: 24.5%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0.5; }
    .section-container.what .box img {
      object-fit: fill;
      max-width: 900px; }
  .section-container.what .box.short {
    height: 35vh; }
  .section-container.what .box:hover {
    -webkit-box-shadow: 0px 0px 2px 1px #F800AE;
    -moz-box-shadow: 0px 0px 2px 1px #F800AE;
    box-shadow: 0px 0px 2px 1px #F800AE;
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.8s; }

.section-container.who {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .section-container.who .profile-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; }
    .section-container.who .profile-img img {
      width: 500px;
      position: absolute;
      bottom: -15px;
      overflow: hidden; }
  .section-container.who .profile-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .section-container.who .profile-description .title {
      width: 100%;
      margin-bottom: 20px;
      text-align: center; }
      .section-container.who .profile-description .title h1 {
        color: #FDFFFC;
        letter-spacing: 5px; }
      .section-container.who .profile-description .title h1.first-row span {
        background-color: #4D4444;
        position: relative;
        right: 40px; }
      .section-container.who .profile-description .title h1.first-row::first-letter {
        color: #F800AE; }
      .section-container.who .profile-description .title h1.second-row span {
        background-color: #4D4444;
        position: relative;
        left: 40px; }
      .section-container.who .profile-description .title h1.second-row::first-letter {
        color: #F800AE; }
    .section-container.who .profile-description .text {
      width: 100%;
      margin-bottom: 20px; }
    .section-container.who .profile-description .social {
      width: 100%;
      display: flex;
      justify-content: center; }
      .section-container.who .profile-description .social .social-item img {
        width: 100px; }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 1.6rem; }

  h2 {
    font-size: 1.2rem; }

  p {
    font-size: 1rem; }

  aside {
    height: 100%;
    width: 70%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s; }
    aside .brand img {
      width: 50vw; }
    aside ol li a {
      font-size: 4vh; }
    aside .quote h2 {
      font-size: 3vh; }
      aside .quote h2 h2::first-letter {
        font-size: 3.2vh; }
    aside img.img-arrow {
      width: 1rem; }

  .section-container {
    width: 100%;
    height: 100vh; }
    .section-container .sidebar-toggle {
      display: block;
      padding: 10px !important;
      z-index: 1; }
      .section-container .sidebar-toggle img {
        -webkit-box-shadow: 0px 0px 0.2px 1px #F800AE;
        -moz-box-shadow: 0px 0px 0.2px 1px #F800AE;
        box-shadow: 0px 0px 0.2px 1px #F800AE; }
    .section-container .img-home {
      height: 0vh; }
      .section-container .img-home img {
        width: 68vw; }
    .section-container .main-title a.main-button {
      padding: 6px 50px; }
    .section-container .main-title a.main-button:active {
      -webkit-box-shadow: 0px 0px 2px 1px #F800AE;
      -moz-box-shadow: 0px 0px 2px 1px #F800AE;
      box-shadow: 0px 0px 2px 1px #F800AE; }
    .section-container footer.home-footer {
      margin-left: 0vh;
      text-align: center; }

  .section-container.what .box {
    opacity: 1; } }
@media screen and (min-width: 701px) {
  aside {
    width: 20% !important;
    height: 100% !important;
    display: flex !important; } }

/*# sourceMappingURL=style.css.map */
