doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Khanos
        link(rel='stylesheet', type='text/css', href='node_modules/bootstrap/dist/js/bootstrap.min.js')
        link(rel='stylesheet', type='text/css', href='assets/css/main.css')
    body
        #site_content.container-fluid
            .container
                .centered
                    img(src='assets/img/coming-soon.png', style='width: 360px')
