
<div class="main-container">
  <aside ng-class="asideStyle">
    <div class="sidebar-toggle" ng-click="toggleAside()"><a href="#"> <img src="assets/img/menu-toggle.png"/></a></div>
    <div class="title">
      <h1 class="first-row"><span>epilef</span></h1>
      <h1 class="second-row"><span>rodriguez</span></h1>
      <h2><span>Design & Develop</span></h2>
    </div>
    <div class="quote">
      <h2>This is a work in progress, so don't judge and check out the <a href="https://github.com/Khanos/khanos.github.io" target="_blank">github</a> and <a href="https://trello.com/b/KdkP1DtZ" target="_blank">trello</a> of the project.</h2>
    </div>
    <ol>
      <li ng-click="toggleAside()"><a href="/">Home<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li ng-click="toggleAside()"><a href="/what">What i do<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li ng-click="toggleAside()"><a href="/who">Who am i<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
      <li ng-click="toggleAside()"><a href="/how"> How i do it<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
    </ol>
  </aside>
  <section class="section-container home">
    <div class="sidebar-toggle" ng-click="toggleAside()"><a href="#"> <img src="assets/img/menu-toggle.png"/></a></div>
    <div class="img-home"><img class="img-notebook" src="assets/img/notebook.png"/></div>
    <div class="main-title"> 
      <h1>Hi, i am a full stack web developer.</h1>
      <h1>and i<a class="love" href=""> love </a>what i <a class="me" href=""> do</a></h1>
      <h1></h1><a class="main-button" href="#">start</a>
    </div>
    <footer class="home-footer">
      <p>shared on <a href="https://github.com/Khanos/khanos.github.io" target="_blank">GitHub   </a>& managed on <a href="https://trello.com/b/KdkP1DtZ" target="_blank">Trello</a></p>
    </footer>
  </section>
</div>