aside
    background-color: $bg-aside
    width: 20%
    height: 100%
    align-self: stretch
    display: flex
    flex-direction: column
    align-items: center
    .brand
        padding: 20px
        img
            max-height: 145px
            width: 100%
    img.img-arrow
        width: 0.8vw
        margin-left: 8px
        position: relative
        top: 5px
    .quote
        padding: 0px 10px
        width: 100%
        flex-grow: 2
        display: flex
        align-items: center
        h2
            font-weight: 500
            text-align: center
            letter-spacing: 2px
            line-height: 1.6
            color: $font-aside
            opacity: 0.8
        h2::first-letter
            font-size: 3.2rem
            font-weight: bolder
    ol
        width: 100%
        text-align: right
        list-style: none
        flex-grow: 2
        display: flex
        flex-direction: column
        justify-content: center
        li
            padding: 2vh 20px
            a
                text-decoration: none
                color: $font-section
                font-family: "Roboto-Thin", sans-serif
                font-size: 1.8vw
                font-weight: bold
.showAside   
    width: 70%
    padding-top: 50px
    transition: 0.5s
    display: flex
.hideAside   
    width: 0
    display: none
 
