.section-container.home
    display: flex
    flex-direction: column
    align-items: center
    .img-home
        padding: 20px
        position: relative
        top: -80px
        img
            width: 50vh
    .main-title
        padding: 20px
        position: relative
        top: -80px
        font-family: "Raleway", sans-serif
        font-size: 3.5vh
        font-weight: 100
        color: $font-section
        .love
            font-family: "Roboto", sans-serif
            font-size: 3.6vh
            font-weight: bolder
            font-style: italic
        .me
            color: $accent
            font-family: "Roboto", sans-serif
            font-size: 3.6vh
            font-weight: bolder
            font-style: italic
