
<aside>
  <div class="img-brand"><img src="assets/img/main-brand.png"/></div>
  <p>Tools of today will become obsolete, so don't learn the tools, learn the fundamentals</p>
  <ol>
    <li><a href="#">What i do<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
    <li><a href="#">Who am i<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
    <li><a href="#"> How i do it<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
    <li><a href="#">Where am i<img class="img-arrow" src="assets/img/arrow-right.png"/></a></li>
  </ol>
</aside>